.plugin-table-wrapper {
  font-size: 140%;
}

.plugin-table-wrapper h1 {
  text-align: center;
  padding: 20px 0;
}

.plugin-table-wrapper table caption {
  padding: .5em 0;
}

.plugin-table-wrapper table th {
  background-color: #019879;
  white-space: nowrap;
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  font-size: 20px !important;
  color: aliceblue !important;
}



.plugin-table-wrapper table td {
  white-space: nowrap;
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  font-size: 15px !important;
}

.plugin-table-wrapper table th,
.plugin-table-wrapper table td {
  white-space: nowrap;
}

.plugin-table-wrapper .p {
  text-align: center;
  padding-top: 140px;
  font-size: 14px;
}


/* Pagination styles */
.tablenav {
    margin-top: 20px;
    text-align: center;
}

.tablenav-pages {
    display: inline-block;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    border-radius: 4px;
}

.tablenav-pages ul.page-numbers {
    list-style: none;
    padding: 0;
    margin: 0;
}

.tablenav-pages ul.page-numbers li {
    display: inline-block;
    margin: 0 4px;
}

.tablenav-pages ul.page-numbers li a,
.tablenav-pages ul.page-numbers li span {
    display: inline-block;
    padding: 6px 12px;
    border: 1px solid #ddd;
    background-color: #fff;
    color: #0073aa;
    text-decoration: none;
}

.tablenav-pages ul.page-numbers .current {
    background-color: #0073aa;
    color: #fff;
    border: 1px solid #0073aa;
}

.product-name-column {
  width: 40%;
  white-space: normal;
  word-wrap: break-word;
}

.count-column {
  width: 15%;
  text-align: center;
}
.last-viewed-column {
  width: 30%;
  text-align: center;
}


.plugin-table-wrapper table.dataTable .product-name-column {
  width: 50%;
}
.plugin-table-wrapper table.dataTable .count-column {
  width: 15%;
}
.plugin-table-wrapper table.dataTable .last-viewed-column {
  width: 20%;
}